.container {
	margin: 0 50px;
	.form {
		width: 600px;
		display: flex;
	}
	.list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}
}
