@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
body {
  position: relative;
  font-family: "Montserrat" !important;
}

.main {
  padding: 10px;
}

.btn_confirm, .btn_edit {
  color: #f5f5f5;
}

:where(.css-dev-only-do-not-override-1e6wn80).ant-menu-inline > .ant-menu-item,
:where(.css-dev-only-do-not-override-1e6wn80).ant-menu-vertical > .ant-menu-item,
:where(.css-dev-only-do-not-override-1e6wn80).ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1e6wn80).ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 45px;
  line-height: 45px;
}

@media screen and (max-width: 830px) {
  :where(.css-dev-only-do-not-override-1e6wn80).ant-layout .ant-layout-sider-children {
    overflow: scroll;
  }
}

.ant-layout-sider {
  width: 300px;
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-1e6wn80).ant-layout .ant-layout-sider-children {
  width: 300px !important;
}

.edit_container {
  padding: 40px;
  background-color: white;
  width: 100%;
}

.btn_edit {
  background: #864ce9;
  width: 200px;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
  border: 0px;
  cursor: pointer;
}

.btn_edit:hover {
  opacity: 80%;
}

.btn_edit:active {
  background-color: #834eeb;
  opacity: 100%;
}

.btn_confirm {
  background: #864ce9;
  width: 150px;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
  border: 0px;
  cursor: pointer;
}

.btn_confirm:hover {
  opacity: 80%;
  transition-duration: 1s;
}

.btn_cancel {
  background: #F5F5F5;
  color: #3C3C3C;
  width: 250px;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
  border: 0px;
  cursor: pointer;
}

.btn_cancel:hover {
  background-color: #DC2626;
  transition-duration: 1s;
}

.btn_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.input_container {
  display: flex;
  gap: 20px;
  width: 100%;
}
.input_container input::-webkit-outer-spin-button,
.input_container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex_input {
  display: flex;
  gap: 20px;
  width: 100%;
}

.input_block_top {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.input_block_top input {
  color: #3c3c3c;
  width: 100%;
  padding: 20px 10px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
}
.input_block_top label {
  padding-top: 15px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.input_block_small {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.input_block_small input {
  color: #3c3c3c;
  width: 100%;
  padding: 20px 10px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
}
.input_block_small label {
  padding-top: 15px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media only screen and (max-width: 768px) {
  .input_container {
    flex-wrap: wrap;
  }
  .flex_input {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=PatientProfile.module.css.map */