.singlePage-block-item-text {
	display: flex;
	justify-content: space-around;
	&-title {
		font-size: 26px;
		color: #4a4a4a;
		margin-top: 30px;
		word-wrap: break-word;
		width: 574px;
		line-height: 30px;
	}
    &-description {
        color: #4a4a4a;
        margin-top: 20px;
        width: 610px;
        font-size: 25px;
    }
}
