@import '../../assets/styles/config.scss';
.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.subMenu_customIcon {
	@extend %bgcolor-white;

	.customIcon {
		font-size: 20px;
		@extend %color-white;
		@extend %bgcolor-purple;
		border-radius: 50%;
		padding: 8px;
	}
}

