.post-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 88px;
}

.feelings-page__pagination {
	text-align: right;
	margin: 0 16% 100px 0;
}

.post-list__item {
	display: flex;
}

@media screen and (max-width: 1290px) {
	.feelings-page__pagination {
		margin: 0 8% 100px 0;
	}
}

@media screen and (max-width: 1135px) {
	.feelings-page__pagination {
		margin: 0 2% 100px 0;
	}
}

@media screen and (max-width: 1111px) {
	.feelings-page__pagination {
		margin: 38px 0 100px 0;
		text-align: center;
	}
}

@media screen and (max-width: 798px) {
	.post-list {
		margin-right: 75px;
	}
	.feelings-page__pagination {
		margin: 38px 0 100px 0;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.post-list {
		margin-right: 60px;
	}
	.feelings-page__pagination {
		margin: 38px 0 100px 0;
		text-align: center;
	}
}

@media screen and (max-width: 360px) {
	.post-list {
		margin-right: 60px;
	}
}
