.container {
	margin: 0 50px;
	.form {
		width: 600px;

		display: flex;
	}
	.list {
		padding: 0 50px;
		max-width: 1419px;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
