@import '../../assets/styles/config.scss';

.layout_header {
	background-color: $color-white;
}

.layout_main_pages {
	background-color: #F5F5F5;
	padding: 20px 100px;
}

.layout_footer {
	background-color: $color-white;
}


