@import '../../assets/styles/config.scss';

.layout_header {
	background-color: $color-white;
}

.layout_main_pages {
	background-color: #f5f5f5;
	max-width: 1920px;
}

.layout_footer {
	background-color: #f5f5f5;
}
