@import '../../assets/styles/config.scss';

.footer_container {
	@extend %bgcolor-white;
	@extend %color-black;
	padding: '20px 0';

	h2 {
		@extend %color-purple;
	}

	ul {
		margin: 0 0 0 20px;
        padding: 0;
		li {
			padding: 0 0 5px 0 ;
			margin: 0;
		}
	}
}
