@import '../../assets/styles/config';

.homepage {
	@extend %bgcolor-white;
	.homepage_container {
		padding: 50px;
		text-align: center;
		display: flex;

		.homepage_container_text {
			margin: 0 0 0 20px;
			display: flex;
			text-align: left;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}

		.homepage_button {
			@extend %bgcolor-purple;
		}
		.homepage_img {
			margin-top: 20px;
			max-width: 100%;
		}
	}
	.articles_title {
		text-align: center;
		@extend %color-purple;
	}
	.articles_container {
		display: flex;
		justify-content: center;
	}
	.ask_container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.ask_button {
			@extend %bgcolor-purple;
			font-size: 19px;
			height: 41px;
		}
	}
}
