%color-white {
	color: #ffffff;
}

%color-black {
	color: #000000;
}

%color-purple {
	color: #834eeb;
}

%color-soft-purple {
	color: #e0bcff;
}

%color-green {
	color: #88ff00;
}

%color-gray {
	color: #3a3a3a;
}

%bgcolor-white {
	background: #ffffff;
}

%bgcolor-purple {
	background: #834eeb;
}

%bgcolor-soft-purple {
	background: #e0bcff;
}

%bgcolor-green {
	background: #88ff00;
}

%bgcolor-gray {
	background: #3a3a3a;
}

%bgcolor-light-gray {
    background: #f9f8f8;
}