@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
body {
	position: relative;
	font-family: 'Montserrat', sans-serif !important;
}

$color-white: #ffffff;
$color-black: #000000;
$color-purple: #864ce9;
$color-soft-purple: #e0bcff;
$color-green: #88ff00;
$color-gray: #3a3a3a;

$bgcolor-white: #ffffff;
$bgcolor-purple: #834eeb;
$bgcolor-soft-purple: #e0bcff;
$bgcolor-green: #88ff00;
$bgcolor-gray: #3a3a3a;
$bgcolor-light-gray: #f9f8f8;

$hover-bgcolor: #88ff00;
$hover-color: black;

%color-white {
	color: $color-white;
}

%color-black {
	color: $color-black;
}

%color-purple {
	color: $color-purple;
}

%color-soft-purple {
	color: $color-soft-purple;
}

%color-green {
	color: $color-green;
}

%color-gray {
	color: $color-gray;
}

%bgcolor-white {
	background: $bgcolor-white;
}

%bgcolor-purple {
	background: $bgcolor-purple;
}

%bgcolor-soft-purple {
	background: $bgcolor-soft-purple;
}

%bgcolor-green {
	background: $bgcolor-green;
}

%bgcolor-gray {
	background: $bgcolor-gray;
}

%bgcolor-light-gray {
	background: $bgcolor-light-gray;
}

%hover {
	background: $hover-bgcolor;
	color: $hover-color;
}
