.adminSymptoms-inBlock-item {
	display: flex;
    justify-content: flex-end;
}
.symptom-editBlock-text{
    height: 80px !important;
}
.symptom-block-text{
    width: 546px;
    margin-bottom: 30px;
}